// Define variables for your color scheme

// For example:
$gray:       #0E0000;
$light-gray: #F4F4F4;
$body-color: $gray;
$green:      #90B46A;
$bold-green: #5A8F28;
$olive:      #B9BEA5;
$red:        #FF4C41;
$orange:     #F2CB80;
