<html>
<h5>Hi Lotta,</h5>
<p>thank you for your order!</p>
<p>You have purchased these products:</p>
<p> Please show the following QR-Code to the employees in the </p>
<img src="https://res.cloudinary.com/dovh6vnvn/image/upload/v1597840315/QRCodeWikipedia_spsahv.png" alt="2453-7853-2680-2384">
<br>
<p>You did something great today by saving ingredients from thrwon away.</p>
<p>Enjoy your food and have a nice day,</p>
<p>Your Cookclever Team</p>

</html>
