<html>
<p>Hi Lotta,</p>
<p>thank you for your order!</p>
<br>
<p>You have purchased these products:</p>


<img src="https://res.cloudinary.com/dovh6vnvn/image/upload/v1597398899/Download_k81nfj.png" alt="2453-7853-2680-2384">
<br>
<p>Enjoy your food and have a nice day,</p>
<p>Your Cookclever Team</p>

</html>
