// Specific CSS for your home-page
// Logo
.banner-wrapper {
  text-align: center;
}

.form-homepage {
  display: inline;
}

.logoHome {
  width: 200px;
  margin: 30vh 0 75px;
}

  
  .form-control {
    color: #656565;  
  }
  
  .notice {
    display: none;
  }

  // Location-Form
  .location-wrapper {
    margin: 0 auto 20px;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    background-color: white;
    align-items: center;
  }

  .location-marker {
    padding: 0 8px;
  }

  .location-input-home {
    border: none;
    height: 50px;
    flex-grow: 4;
    margin-top: 48px;
  }

  .submit-home {
    height: 45px;
    padding: 0 4px;
  }

//  Navbar Home

.navbar-home {
  justify-content: space-between;
  position: fixed;
  transition: top 0.6s;
  background: $info;
  opacity: 0.8;
  position: absolute;
  width: 100vw;
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-home .navbar-brand img {
  width: 90px;
}

.navbar-home .add-btn {
  border-radius: 25px;
  background-color: white;
  border: 1px $warning solid;
    .nav-item {
      color: $warning;
    }
 }

 .navbar {
   padding: 8px 80px;
 }

 .navbar-brand {
  padding: 0;
  margin: 0;
 }