.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar-lewagon .add-btn {
  border-radius: 25px;
  background-color: white;
  border: 1px $warning solid;
    .nav-item {
      color: $warning;
    }
 }

 .navbar {
   padding: 8px 80px;
 }

 .navbar-brand {
  padding: 0;
  margin: 0;
 }

.basket {
  position: relative;
}
.basket-icon {
  margin: 8px 28px;
  font-size: 24px;
 }

 .fas {
  color: $bold-green;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    transition-duration: 0.2s;
  }
 }

.number-of-items {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 21px;
  background-color: $red;
  color: $light-gray;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

//  Navbar Home

// .navbar-lewagon {
//   justify-content: space-between;
//   background: $info;
//   opacity: 0.8;
//   position: absolute;
//   width: 100vw;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 90px;
// }

// .navbar-lewagon .add-btn {
//   border-radius: 25px;
//   background-color: white;
//   border: 1px $warning solid;
//     .nav-item {
//       color: $warning;
//     }
//  }

//  .navbar {
//    padding: 8px 80px;
//  }

//  .navbar-brand {
//   padding: 0;
//   margin: 0;
//  }
