.recipe-photo {
  height: 200px;
}


.recipe-card {
  color: black;
  background-color: white;
  padding: 9px;

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }

}

// .order-card {
//   border-bottom: 1px solid black;
//   padding: 8px;
// }
